body {
  width: 100vw;
  height: 100vh;
  //background-color: var(--tg-theme-bg-color);
  background-color: #17212B;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}
