body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(16,65,98);
  background: radial-gradient(circle, rgba(16,65,98,1) 0%, rgba(0,0,0,1) 100%);
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.main {
  display: flex;
  gap: 100px;
}
