.board {
  display: grid;
  grid-template-columns: repeat(8, 12vw);
  grid-template-rows: repeat(8, 12vw);

  &.reverse {
    direction: rtl;

    .cell:nth-child(8) {
      border-radius: 20px 0 0 0;
    }

    .cell:nth-child(1) {
      border-radius: 0 20px 0 0;
    }

    .cell:nth-child(57) {
      border-radius: 0 0 20px 0;

    }

    .cell:nth-child(64) {
      border-radius: 0 0 0 20px;

    }
  }
}

