
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__img {
    width: 70%;
    height: 70%;
  }
}

.white {
  background-color: #E8EDF9;
}

.black {
  background-color: #B7C0D8;
}

.selected {
  background-color: #B1A7FC;
}

.available {
  background-color: #7B61FF;
  border-radius: 50%;
  width: 55%;
  height: 55%;
  pointer-events: none;
  position: relative;
  z-index: 1;

  &-figure {
    background-color: #EDBEC7 ;
    position: relative;
    z-index: 2;
  }
}