
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;

  &__img {
    width: 80%;
    height: 80%;
  }
}

.white {
  background-color: #E8EDF9;
}

.black {
  background-color: #B7C0D8;
}

.selected {
  background-color: #B1A7FC;
  transition: all 0.2s ease-in-out;
}

.move {
  background-color: #C8E4B2;
}

.available {
  background-color: #7B61FF;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  pointer-events: none;
  transition: all 0.2s ease-in-out;

  &-figure {
    background-color: #EDBEC7 ;
    transition: all 0.2s ease-in-out;
  }

  &-none {
    background-color: transparent;
    position: absolute;
  }
}