
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__img {
    width: 70%;
    height: 70%;
  }
}

.white {
  background-color: #E8EDF9;
}

.black {
  background-color: #B7C0D8;
}

.selected {
  background-color: #B53E24;
}

.available {
  background-color: rgba(#363D34, 0.3);
  border-radius: 50%;
  width: 40%;
  height: 40%;
  pointer-events: none;

  &-figure {
    background-color: #BBCB2B ;
  }
}