.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.timer {
  font-weight: 600;
  font-size: 25px;
  background-color:  var(--tg-theme-secondary-bg-color);
  padding: 7px;
  border-radius: 5px;
}