.player {
  display: flex;
  justify-content: space-between;
  background-color: var(--tg-theme-secondary-bg-color);
  height: 50px;
  align-items: center;
  padding: 0 10px;
}

.timer {
  font-weight: 600;
  font-size: 25px;
}

.player .blackTheme {

  .player__name {
    color: white;
  }

  .timer {
    color: white;
  }
}

.player .lightTheme {
  .player__name {
    color: black;
  }

  .timer {
    color: black;
  }
}