.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 30px;

}

.timer {
  font-weight: 600;
  font-size: 25px;
}

.player.blackTheme {
  .player__name {
    color: white;
  }

  .timer {
    color: white;
  }
}

.player.lightTheme {
  .player__name {
    color: black;
  }

  .timer {
    color: black;
  }
}